body {
/*    background-color: #FFD2A3; */
   background: white url("/images/hamburger.png") left 40px no-repeat;
   margin: 0;
   font-family: "Helvetica", "Arial", sans-serif;
}

#logo, #page, #footer {
   position: relative;
   left: 0; right: 0;
   margin: 0 auto;
   padding: 15px;
   width: 750px;
}

#logo {
   top: 0px;
   padding-left: 0px;
}

#logo h1 {
   margin: 0;
   padding: 0;
   line-height: 60px;
   font-size: 230%;
   font-weight: bold;
}

#logo h1 a {
   text-decoration: none;
}

#page {
   top: 0px;
   background: #EFDD98;
}

#footer {
   top: 10px;
   background: #EFDD98;
   padding-top: 5px;
   padding-bottom: 5px;
}

#footer span {
   font-size: 70%;
}


.rounded {
   -moz-border-radius: 20px;
}

a:link, a:visited {
   color: black;
}

/****** content ******/

#content {
   position: relative;
   left: 10px;
   width: 580px;
   margin: 0;
}


#sidebar {
   position: absolute;
   top: 30px;
   bottom: 30px;
   right: 20px;
   width: 130px;
}

.daylist {
   background-color: #f4f4f4;
   padding: 20px;
}

ul.daylist {
   list-style-type: none;
}

.daylist .today {
   font-weight: bold;
}

#content h1 {
   margin: 10px 0 5px 0;
   font-size: 150%;
   font-weight: bold;
   text-align: center;
}

#content h2 {
   margin: 5px 0 5px 0;
   font-size: 100%;
   font-weight: normal;
   text-align: center;
}

.spacer {
   margin: 0;
   padding: 0;
   height: 20px;
}


#content section {
   display: block;
   margin: 10px;
}

#content hr {
   margin: 15px auto;
   padding: 1px;
   border: none;
   border-top: 1px dotted black;
   width: 400px;
}

#content h4 {
   display: inline;
   font-size: 110%;
}

#content table {
   border: 1px solid black;
   background-color: #f4f4f4;
   margin: 3px 0px 3px 0px;
}

#content footer {
   font-size: 70%;
   font-style: italic;
}
