<!-- UserVoice -->
<script type="text/javascript">
  var uservoiceOptions = {
    key: 'chciobed',
    host: 'chciobed.uservoice.com', 
    forum: '49693',
    alignment: 'left',
    background_color:'#efde98', 
    text_color: 'black',
    hover_color: '#bf382c',
    lang: 'en',
    showTab: true
  };
  function _loadUserVoice() {
    var s = document.createElement('script');
    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "uservoice.com/javascripts/widgets/tab.js";
    document.getElementsByTagName('head')[0].appendChild(s);
  }
  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>

